<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:fragment="head">
    <title th:text="${title}">Title</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="#">
    <meta name="keywords"
        content="Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="#">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/assets/icon/themify-icons/themify-icons.css">

    <link rel="stylesheet" type="text/css" href="/assets/icon/icofont/css/icofont.css">

    <link rel="stylesheet" type="text/css" href="/assets/icon/feather/css/feather.css">

    <!--    <link rel="stylesheet" type="text/css"-->
    <!--          href="/bower_components/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css">-->
    <script src="assets/pages/data-table/extensions/select/js/select-custom.js"></script>

    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/jquery.mCustomScrollbar.css">

    <link rel="stylesheet" type="text/css" href="/assets/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/select.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/cus_style.css">

</head>


<div class="theme-loader" th:fragment="loader">
    <div class="ball-scale">
        <div class='contain'>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
        </div>
    </div>
</div>
<nav class="navbar header-navbar pcoded-header" th:fragment="navbar">
    <div class="navbar-wrapper">
        <div class="navbar-logo">
            <a class="mobile-menu" id="mobile-collapse">
                <i class="feather icon-menu"></i>
            </a>
            <a href="/index-2.html">
                <img class="img-fluid" th:src="@{/assets/images/logo.png}" alt="Theme-Logo" />
            </a>
            <a class="mobile-options">
                <i class="feather icon-more-horizontal"></i>
            </a>
        </div>
        <div class="navbar-container">
            <ul class="nav-left">
                <li class="header-search">
                    <div class="main-search morphsearch-search">
                        <div class="input-group">
                            <span class="input-group-addon search-close"><i class="feather icon-x"></i></span>
                            <input type="text" class="form-control">
                            <span class="input-group-addon search-btn"><i class="feather icon-search"></i></span>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="/#!" onclick="javascript:toggleFullScreen()">
                        <i class="feather icon-maximize full-screen"></i>
                    </a>
                </li>
            </ul>
            <ul class="nav-right">
                <li class="header-notification">
                    <div class="dropdown-primary dropdown">
                        <div class="dropdown-toggle" data-toggle="dropdown">
                            <i class="feather icon-bell"></i>
                            <span class="badge bg-c-pink">5</span>
                        </div>
                        <ul class="show-notification notification-view dropdown-menu" data-dropdown-in="fadeIn"
                            data-dropdown-out="fadeOut">
                            <li>
                                <h6>Notifications</h6>
                                <label class="label label-danger">New</label>
                            </li>
                            <li>
                                <div class="media">
                                    <img class="d-flex align-self-center img-radius"
                                        th:src="@{assets/images/avatar-4.jpg}" alt="Generic placeholder image">
                                    <div class="media-body">
                                        <h5 class="notification-user"></h5>
                                        <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer
                                            elit.</p>
                                        <span class="notification-time">30 minutes ago</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="header-notification">
                    <div class="dropdown-primary dropdown">
                        <div class="displayChatbox dropdown-toggle" data-toggle="dropdown">
                            <i class="feather icon-message-square"></i>
                            <span class="badge bg-c-green">3</span>
                        </div>
                    </div>
                </li>
                <li class="user-profile header-notification">
                    <div class="dropdown-primary dropdown">
                        <div class="dropdown-toggle" data-toggle="dropdown">
                            <img th:src="@{/assets/images/avatar-4.jpg}" class="img-radius" alt="User-Profile-Image">
                            <span sec:authentication="name">name</span>

                            <i class="feather icon-chevron-down"></i>
                        </div>
                        <ul class="show-notification profile-notification dropdown-menu" data-dropdown-in="fadeIn"
                            data-dropdown-out="fadeOut">
                            <li>
                                <a href="/#!">
                                    <i class="feather icon-settings"></i> Settings
                                </a>
                            </li>
                            <li>
                                <a href="/default/user-profile.html">
                                    <i class="feather icon-user"></i> Profile
                                </a>
                            </li>
                            <li>
                                <a href="/default/email-inbox.html">
                                    <i class="feather icon-mail"></i> My Messages
                                </a>
                            </li>
                            <li>
                                <a href="/default/auth-lock-screen.html">
                                    <i class="feather icon-lock"></i> Lock Screen
                                </a>
                            </li>
                            <li>
                                <a href="/logout">
                                    <i class="feather icon-log-out"></i> Logout
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div id="sidebar" class="users p-chat-user showChat" th:fragment="sidebar">>
    <div class="had-container">
        <div class="card card_main p-fixed users-main">
            <div class="user-box">
                <div class="chat-inner-header">
                    <div class="back_chatBox">
                        <div class="right-icon-control">
                            <input type="text" class="form-control  search-text" placeholder="Search Friend"
                                id="search-friends">
                            <div class="form-icon">
                                <i class="icofont icofont-search"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-friend-list">
                    <div class="media userlist-box" data-id="1" data-status="online" data-username="Josephin Doe"
                        data-toggle="tooltip" data-placement="left" title="Josephin Doe">
                        <a class="media-left" href="/#!">
                            <img class="media-object img-radius img-radius" th:src="@{/assets/images/avatar-3.jpg}"
                                alt="Generic placeholder image ">
                            <div class="live-status bg-success"></div>
                        </a>
                        <div class="media-body">
                            <div class="f-13 chat-header">Josephin Doe</div>
                        </div>
                    </div>
                    <div class="media userlist-box" data-id="2" data-status="online" data-username="Lary Doe"
                        data-toggle="tooltip" data-placement="left" title="Lary Doe">
                        <a class="media-left" href="/#!">
                            <img class="media-object img-radius" th:src="@{/assets/images/avatar-2.jpg}"
                                alt="Generic placeholder image">
                            <div class="live-status bg-success"></div>
                        </a>
                        <div class="media-body">
                            <div class="f-13 chat-header">Lary Doe</div>
                        </div>
                    </div>
                    <div class="media userlist-box" data-id="3" data-status="online" data-username="Alice"
                        data-toggle="tooltip" data-placement="left" title="Alice">
                        <a class="media-left" href="/#!">
                            <img class="media-object img-radius" th:src="@{/assets/images/avatar-4.jpg}"
                                alt="Generic placeholder image">
                            <div class="live-status bg-success"></div>
                        </a>
                        <div class="media-body">
                            <div class="f-13 chat-header">Alice</div>
                        </div>
                    </div>
                    <div class="media userlist-box" data-id="4" data-status="online" data-username="Alia"
                        data-toggle="tooltip" data-placement="left" title="Alia">
                        <a class="media-left" href="/#!">
                            <img class="media-object img-radius" th:src="@{/assets/images/avatar-3.jpg}"
                                alt="Generic placeholder image">
                            <div class="live-status bg-success"></div>
                        </a>
                        <div class="media-body">
                            <div class="f-13 chat-header">Alia</div>
                        </div>
                    </div>
                    <div class="media userlist-box" data-id="5" data-status="online" data-username="Suzen"
                        data-toggle="tooltip" data-placement="left" title="Suzen">
                        <a class="media-left" href="/#!">
                            <img class="media-object img-radius" th:src="@{/assets/images/avatar-2.jpg}"
                                alt="Generic placeholder image">
                            <div class="live-status bg-success"></div>
                        </a>
                        <div class="media-body">
                            <div class="f-13 chat-header">Suzen</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<nav class="pcoded-navbar" th:fragment="menubar">
    <div class="pcoded-inner-navbar main-menu">
        <div class="pcoded-navigatio-lavel">Navigation</div>
        <ul class="pcoded-item pcoded-left-item">
            <li class="pcoded-hasmenu active pcoded-trigger" sec:authorize="hasAuthority('ADMIN')">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                    <span class="pcoded-mtext">Dashboard</span>
                </a>
                <ul class="pcoded-submenu">
                    <li class="active" id="command">
                        <a href="/adm/dashboard">
                            <span class="pcoded-mtext">User Details</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="/default/dashboard-crm.html">
                            <span class="pcoded-mtext">CRM</span>
                        </a>
                    </li>

                </ul>
            </li>
            <li class="pcoded-hasmenu active pcoded-trigger" sec:authorize="hasAnyAuthority('ADMIN','USER')">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                    <span class="pcoded-mtext">Expenses</span>
                </a>
                <ul class="pcoded-submenu">
                    <li>
                        <a href="/exp/dashboard" th:onclick="'loadExpenses(' + ${current.getId()} + ')'">
                            <span class="pcoded-mtext">Expenses Details</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="/default/dashboard-crm.html">
                            <span class="pcoded-mtext">CRM</span>
                        </a>
                    </li>

                </ul>
            </li>
        </ul>

    </div>
</nav>
<div th:fragment="footer">
    <script th:inline="javascript">
        /*<![CDATA[*/
        var userid = /*[[${ current.getId() }]]*/ null;
            /*]]>*/

    </script>
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/bower_components/popper.js/dist/umd/popper.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/bower_components/jquery-slimscroll/jquery.slimscroll.js"></script>

    <script type="text/javascript" src="/bower_components/modernizr/modernizr.js"></script>
    <script type="text/javascript" src="/bower_components/modernizr/feature-detects/css-scrollbars.js"></script>



    <script type="text/javascript" src="/bower_components/i18next/i18next.min.js"></script>
    <script type="text/javascript" src="/bower_components/i18next-xhr-backend/i18nextXHRBackend.min.js"></script>
    <script type="text/javascript"
        src="/bower_components/i18next-browser-languagedetector/i18nextBrowserLanguageDetector.min.js"></script>
    <script type="text/javascript" src="/bower_components/jquery-i18next/jquery-i18next.min.js"></script>

    <script th:src="@{/assets/pages/data-table/extensions/select/js/select-custom.js}"></script>
    <script src="/assets/js/pcoded.min.js"></script>
    <script src="/assets/js/vartical-layout.min.js"></script>
    <script src="/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="/assets/js/script.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/assets/js/dataTables.select.min.js"></script>
    <script type="text/javascript" src="/js/expenses.js"></script>

</div>

</html>